.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header-logo {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.04em;
}

.theme-toggle {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  background: var(--toggle-btn-bg);
  color: gray;
  border: 1px solid var(--toggle-btn-bg);
  border-radius: 1rem;

  &:hover {
    border: 1px solid gray;
  }

  & svg {
    width: 0.8rem;
    height: 0.8rem;
  }

  & span {
    margin-left: 0.25rem;
    font-size: 0.75rem;
    line-height: 1;
  }
}

/* This should hide it on touchscreen devices, where there's no interaction with the matter js items */
/* And on screens that are too small to avoid cluttering the UI */
@media (hover: none) and (pointer: coarse), (max-width: 600px) {
  .silly-mode-btn {
    display: none;
  }
}

.silly-mode-btn {
  background: var(--toggle-btn-bg);
  color: gray;
  border: 1px solid var(--toggle-btn-bg);
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;

  &:hover {
    border: 1px solid gray;
  }
}
